    </div>
</div>
    <div class="footer">
        <div class="container">
            <p>Copyright© 2021. All rights reserved.</p> 
            <p>Designed by M. Proskuryakov</p>
        </div>
    </div>
</div>
<script src="/script.js"></script>
</body>
</html>